section.portfolio li {
    float: left;
    margin-left: 40px;
}

section.portfolio li:first-child {
    margin-left: 0;
}

section.portfolio ol {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

section.portfolio {
    text-align: center;
}

section.portfolio li {
    cursor: pointer;
}

section.portfolio>nav {
    display: inline-block;
    vertical-align: top;
}

section.portfolio>nav .bar {
    border-radius: 2px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
}

section.portfolio>nav .bar-inner {
    height: 100%;
    background-color: #474747;
    width: 15%;
    border-radius: 2px;
    margin-left: 0;
    transition: all 0.3s;
}

section.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 20%;
}

section.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 28%;
    width: 20%;
}

section.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 55%;
    width: 45%;
}