a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #efefef;
    height: 1200px;
    position: relative;
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.topNav {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.topNavBar {
    padding: 15px 0px 15px 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    z-index: 11;
    color: rgb(214, 214, 214);
}

.topNavBar.sticky {
    background-color: white;
    padding: 10px 0 10px 16px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.38);
    color: #3d4451;
}

.topNavBar>nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.topNavBar>nav>ul>li {
    float: left;
    margin: 0 17px;
    display: block;
    position: relative;
}

.topNavBar>nav>ul>li.highlight>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e8676b;
    height: 5px;
    animation: menuSlide 0.5s;
}

.topNavBar>nav>ul>li>a {
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px 0px;
    position: relative;
    transition: all 0.5s;
}

.topNavBar>nav>ul>li>a:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #e8676b;
    height: 5px;
    animation: menuSlide 0.5s;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding: 3px 0px 4px 0px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e06567;
}

.topNavBar .logo .card {
    color: rgb(224, 224, 224);
}

.topNavBar .logo {
    float: left;
    color: black;
}

.topNavBar .submenu {
    position: absolute;
    display: none;
    right: 0;
    top: 110%;
    white-space: nowrap;
    background-color: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.18);
}

.topNavBar .submenu.active {
    display: block;
    animation: submenuSlide .3s;
}

@keyframes submenuSlide {
    0% {
        margin-right: 120%;
    }
    100% {
        margin-left: 0;
    }
}

.topNavBar .submenu>li {
    padding: 10px 20px;
}

.topNavBar .submenu.active {
    display: block;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.banner {
    height: 515px;
    background-image: url(./img/bgc.jpg);
    background-position: center center;
    background-size: cover;
}

.mask {
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 名片部分 */

.userCard {
    background-color: #fff;
    margin: 0 auto;
    max-width: 830px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.18);
}

.userCard .welcome {
    background-color: #e6686a;
    color: white;
    /* width: 70px; */
    /* height: 29px; */
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}

.userCard .pictureAndtext {
    padding: 50px;
}

.welcome .triangle {
    border: 10px solid transparent;
    width: 0;
    border-left-color: rgb(165, 56, 58);
    border-top-width: 0px;
    display: block;
    position: absolute;
    left: 4px;
    top: 100%;
}

.userCard .picture {
    float: left;
    padding-bottom: 45px;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 250px;
}

.text p {
    padding-top: 15px;
}

.userCard h1 {
    margin-top: 18px;
}

.userCard hr {
    margin: 20px 0;
    width: 300px;
}

.userCard dl dt, .userCard dl dd {
    float: left;
    padding: 10px 0px;
}

.userCard dl dt {
    font-weight: bold;
    width: 30%;
}

.userCard dl dd {
    color: #9da0a7;
    width: 50%;
    padding-left: 35px;
}

.media {
    margin: 0 auto;
    max-width: 830px;
    background-color: #e06567;
    text-align: center;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.18);
}

.media .icon {
    font-size: 20px;
    padding: 20px 20px;
    fill: white;
}

.media a {
    display: inline-block;
    border-radius: 50%;
    margin: 10px 15px;
    transition: background 0.3s;
}

.media a:hover {
    background: #cd5d5f;
}

main {
    margin-top: -400px;
    transition: all 0.8s;
}

section {
    transition: all 0.8s;
}

.downloadResume {
    font-size: 14px;
    padding: 21px 55px;
    line-height: 16px;
    display: inline-block;
    background-color: #efefef;
    border: 1px solid #cdcfd1;
    border-radius: 4px;
    color: #3d4451;
    font-weight: bold;
    margin: 30px 0;
    transition: box-shadow 0.7s;
}

.downloadResume-wrapper {
    text-align: center;
    display: block;
    margin: 15px 0;
}

.downloadResume:hover {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.18);
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kaiti;
    line-height: 1.8;
    font-size: 18px;
}

section>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 60px;
}

section.skills, section.portfolio {
    max-width: 940px;
    margin: 60px auto 0 auto;
}

section.skills ol li h3 {
    font-size: 15px;
}

section.skills>ol {
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
}

section.skills>ol>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

section.skills>ol>li:nth-child(even) {
    float: right;
}

section.skills .progressBar {
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 30px 0;
}

section.skills .progressBar .progress.default {
    width: 0% ! important;
}

section.skills .progressBar .progress {
    height: 100%;
    background-color: #e6686a;
    width: 70%;
    border-radius: 2px;
    transition: all 2s;
}

section.portfolio li {
    float: left;
    margin-left: 40px;
}

section.portfolio li:first-child {
    margin-left: 0;
}

section.portfolio ol {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

section.portfolio {
    text-align: center;
}

section.portfolio li {
    cursor: pointer;
}

section.portfolio>nav {
    display: inline-block;
    vertical-align: top;
}

section.portfolio>nav .bar {
    border-radius: 2px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
}

section.portfolio>nav .bar-inner {
    height: 100%;
    background-color: #e6686a;
    width: 15%;
    border-radius: 2px;
    margin-left: 0;
    transition: all 0.3s;
}

section.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 20%;
}

section.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 28%;
    width: 20%;
}

section.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 55%;
    width: 45%;
}

.swiper-container {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 600px;
    height: 300px;
    background-color: #fff;
}

.swiper-container img:hover {
    transform: scale(1.2)
    
}

.swiper-container img {
    transition: all 2s;
}

main.offset {
    transform: translateY(200px);
}

section.offset {
    transform: translateY(130px);
}

section .swiper-button-prev {
    background-image: url(./img/16-Arrow-Prev.svg);
}

section .swiper-button-next {
    background-image: url(./img/16-Arrow-Next.svg);
}

section .swiper-button-next:hover {
    animation: leap 1s infinite;
}

section .swiper-button-prev:hover {
    animation: leap 1s infinite;
}

@keyframes leap {
    0% {
        transform: translateX(-8px);
    }
    50% {
        transform: translateX(8px);
    }
    100% {
        transform: translateX(-8px);
    }
}

section .swiper-button-next:hover {
    scale:
}

section.message {
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 100px;
}

section.message>ol {
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.18);
}

section.message>ol>li {
    border-top: 1px solid #ddd;
    padding: 25px;
    font-size: 20px;
    position: relative;
}

section.message form {
    margin: 10px auto;
    position: relative;
}

section.message label {
    font-size: 16px;
    font-weight: 700;
    font-family: "Microsoft soft";
}

#message_board_button:hover {
    background-color: #cfcfcf;
}

section.message form input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 13px 14px;
    width: 75px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
}

section.message form .input .name {
    width: 100px;
    margin: 0 10px;
}

section.message form .input .content {
    width: 500px;
    margin-left: 10px;
}

section.message>ol>li>.avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -20px;
}

.avatar_selector {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.avatar_selector .avatar {
    width: 40px;
    height: 40px;
    padding: 10px;
}

.avatar_selector:hover {
    box-shadow: 0px 0px 1px 1px #ddd;
    border-radius: 50%;
}

#postMessageForm {
    position: relative;
}

.message .input {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0%;
    margin-top: -20px;
}

.message .aratar_options {
    position: absolute;
    max-width: 940px;
    border: 1px solid rgb(206, 206, 206);
    top: 105%;
    left: 0px;
    padding: 30px;
    display: none;
}

.message .aratar_options.active {
    display: block;
}

.message .aratar_options img {
    margin: 0 4px;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.message .aratar_options img:hover {
    box-shadow: 0px 0px 1px 1px #ddd;
    border-radius: 5px;
}